.align_center {
    text-align: center;
}

.item {
    text-align: center;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: gray;
}

.cust_btn {
    background-color: #e8ebef;
    font-size: 18px;
    display: inline-block;
    float: right;
}

.event_btn {
    font-size: 10px;
    background: none;
    color: inherit;
    border: none;
    padding-top: 2px;
    padding-bottom: 2px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
