<html lang="en">
    <head>
      <meta charset="utf-8">

      <title>Dynamic Calendar</title>
      <meta name="Andrew Ong" content="Dynamic Calendar">
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/calendar.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <!-- To-do-list dynamic_events -->
                <div class="col-xs-4">
                    <h4 class="align_center">To-do-list:<button class="cust_btn">+</button></h4>
                    {% for item in dynamic_events %}
                        <div class="row item">
                            <button class="event_btn"> {{ item }} </button>
                        </div>
                    {% endfor %}
                </div>
                <!-- Calendar listing of events -->
                <div class="col-xs-8 calendar">
                    <h4 class="align_center">
                        Calendar
                        <button class="cust_btn">+</button>
                    </h4>

                </div>
            </div>
        </div>
    </body>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/calendar.js') }}"></script>
</html>
